@import url('https://fonts.googleapis.com/css2?family=Jura&display=swap');


* {
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        line-height: 1.25em;
    }

body{
    margin:0;
    width:100%;
    height:100vh;
    padding:3%;
-webkit-box-align: center;
	-ms-flex-align: center;
	    align-items: center;
-webkit-box-pack: center;
	-ms-flex-pack: center;
	    justify-content: center;
font-family: 'Jura', sans-serif;
color:#230338;
}

.back-container{
    position:relative;
    display:flex;
    align-items: center;
    justify-content: center;
    box-align: center;
    padding:5px;
    font-weight:700;
}
.back-container::before{
    /* background:#F4EADD;*/
    content:" ";
   background-image:url('/imgs/fuzzyslashthingdoodah.svg');
   background-size: cover;
   position:absolute;
   top:0px;
   right:0px;
   bottom:0px;
   left:0px;
   opacity:0.75;
}

.main-container{
    position:relative;
    width:75%;
    height:555px;
    border-radius:55px;
    box-shadow: 0 0 55px -10px rgba(0,0,0,0.7);
}


/* Search bar */

.search-container{
    display:flex;
    justify-content: center;
    align-items:center;
    background: #7F7FD5;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height:55px;
    width:100%;
    border:3px #5A3C24 solid;
    border-radius:15px;
}


.citySearch{
    background-color:#F4EADD;
    width:55%;
    height:65%;
    border-radius:10px;
    border:3px #5A3C24 solid;
    font-size:20px;
    color: RGB (238, 238, 238, .9%);	
    box-shadow: 4px 4px 4px 0 rgba(0,0,0,0.4);		
    font-family: 'Jura', sans-serif;
}

.searchBTN{
    position:relative;
    margin:1%;
    height:55%;
    width:5%;
    background-color:#FE8E8D;
    border-radius:10px;
    border:3px #5A3C24 solid;
    box-shadow: 4px 4px 4px 0 rgba(0,0,0,0.3);	
}

.fa-magnifying-glass{
    color:white;
    z-index:3;
}

.searchBTN:hover{
    cursor:pointer;
    border:4px dotted #eee;
   outline:3px #5A3C24 solid;
}

.current-location-button{
    position:relative;
    margin:.5%;
    height:55%;
    width:2.8%;
    background-color:#FE8E8D;
    border-radius:10px;
    border:3px #5A3C24 solid;
    box-shadow: 4px 4px 4px 0 rgba(0,0,0,0.3);	
    color: white;
}

.current-location-button:hover{
    cursor:pointer;
    border:4px dotted #eee;
   outline:3px #5A3C24 solid;
}

.exBox,
.minusBox{
    position:relative;
    left:110px;
    background-color:#CCCCCC;
    width:25px;
    height:25px;
    border:2px solid black;
    border-radius:8px;
    margin:5px;
}
/*=========================== CITY CONTAINER ==========*/

.weather-main-info{
    width:100%;
    height:45.5%;
    margin-top:15px;
}

.top-column-info{
    width:100%;
    height:100%;
}

.name-container{
    position:relative;
    background-image:url('/imgs/fuzzyslashthingdoodah.svg');
    background-size:cover;
    border:2px solid #5A3C24;
    border-radius:10px;
    height:100%;
    width:35%;
    float:left;
    margin-left:15px;
}
.locationExe{
    position:absolute;
    background: #2193b0;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width:100%;
    height:12%;
    border-radius:8px;
    border:0 2px solid #5A3C24;
}
.locationExe h2{
    display:inline;
    color:#FB4FAD;
}

.city-input{
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    color:#FB4FAD;
    text-shadow: 3px 3px white;	
    font-size:3.5em;
    font-family: 'Jura', sans-serif;
}

ul,
ul h1,
li{  
    line-height:1.5;
    flex-direction:column;
    line-height:1.5;
    list-style-type:none;
    font-size:20px;
}
/*============================TEMPERATURE CONTAINER =====================*/

.weather-temperature{
    float:left;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    width:30%;
    height:100%;
    font-family: 'Jura', sans-serif;
    font-weight:bold;
}
.date-list{
    text-align:center;
    position:relative;
    left:-5%;
}
.temperature{
    margin-top:2%;
   text-align: center;
   font-size:75px;
}
.degree{
    text-decoration: none;
    color:black;
    margin:5px;
}

.units{
    position:relative;
    top:-15%;
}

.degree-options{
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
}

  /*============================SIDE WEATHER INFO CONTAINER =====================*/
.minorTemp{  
    display:flex;
    justify-content:center;
    align-items:center;
    height:100%;
}
.side-temp-container{
    height:80%;
    width:100%;
    text-align:center;
    display:flex;
    justify-content: flex-end;
    font-weight:700;
}


 /*============================MULTI DAY WEATHER FORECAST =====================*/

 /*.forecast-multi-day{
    position:relative;
    display:block;
    width:100%;
}*/

.weather-forecast{
    text-align:center;
    display:flex;
    align-items:center;
    flex-direction: row;
    width:100%;
    display:flex;
    justify-content: space-around;
    font-size:1.2em;
}

.weather-forecast img{
    width:100px;
}

.weather-forecast strong{
    color:#FB4FAD;
}
/* ==================================MEDIA QUERIES =======================================*/

@media screen and (max-width: 480px) {
    .back-container{
        display:flex;
        justify-content: center;
    }
}
